Makefile
autom4te.cache/
bindings/perl/Makefile.PL
bindings/perl/*.o
bindings/perl/LibJXTL.bs
bindings/perl/LibJXTL.pm
bindings/perl/blib
bindings/perl/libjxtl_wrap.c
bindings/perl/pm_to_blib
bindings/python/setup.py
bindings/python/_libjxtl.so
bindings/python/build
bindings/python/libjxtl.py
bindings/python/libjxtl_wrap.c
config.h
config.log
config.status
libjxtl/.deps/
libjxtl/.libs/
libjxtl/Makefile
libjxtl/libjxtl.la
libjxtl/libjxtl_la*.lo
libjxtl/libjxtl_la*.o
libjxtl/*_parse.output
libtool
src/.deps/
src/.libs/
src/Makefile
src/*.o
src/jxtl
src/xml2json
src/xml2json_static
stamp-h1
test/Makefile
test/t.json
